dj-database-url==0.3.0
dj-static==0.0.6
Django==1.7.7
MySQL-python==1.2.5
Pigments==1.6
Pillow==2.8.1
Twisted==13.2.0
XlsxWriter==0.7.2
altgraph==0.10.2
bdist-mpkg==0.5.0
django-admin-tools==0.6.0
django-adminplus==0.3
django-braces==1.4.0
django-cors-headers==1.0.0
django-form-utils==1.0.2
django-nested-inline==0.3.5
django-oauth-toolkit==0.8.0
django-qsstats-magic==0.7.2
django-secure==1.0.1
django-smart-selects==1.1.1
django-sslify==0.2.5
django-user-roles==0.1.0
djangorestframework==3.1.1
gunicorn==19.3.0
jdcal==1.0
lxml==3.4.4
oauthlib==0.7.2
openpyxl==2.2.5
py2app==0.7.3
pyOpenSSL==0.13.1
pyparsing==2.0.1
python-dateutil==1.5
python-pptx==0.5.7
pytz==2013.7
requests==2.6.0
wsgiref==0.1.2
xattr==0.6.4
zope.interface==4.1.1
psycopg2==2.5.1
static==0.4

