{% extends 'registration/base.html' %}

{% block header %}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">Proyectos</a>
        {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
{% endblock %}


{% block content %}

    <h1>Inicia sesión</h1>
    <form>
        <p><a href="/accounts/login/">Iniciar sesión</a></p>
        <input type="hidden" name="next" value="{{ next }}"/>

    </form>
    <h1>¿Aún no estás registrado?</h1>
    <p><a href="registro">Registrar nuevo usuario</a></p>


<h1>Proyectos</h1>
<ul>
{% for proyecto in object_list %}
    <li>
        <p>
            <a href="/proyecto/{{ proyecto.id }}/">{{ proyecto.nombre }} - {{ proyecto.numero_horas}} horas</a>
                 {%for carrera in proyecto.carreras.all %}
                    {{ carrera.iniciales }},
                 {% endfor %}
        </p>
    </li>

{% empty %}
    <li>Aun no hay proyectos</li>
{% endfor %}
</ul>
{% endblock %}

